# Misc
.DS_Store

# Python + mypy
__pycache__/
*.pyc
.mypy_cache/

build/
dist/
*.egg-info/

.cache/

# SC2 things
maps/
mini_games/

*.SC2Replay
trained_model.h5
training-model-2.py
X.npy
Y.npy
trained_model.h5
trained_model.h5
